.coin-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

.coin-container .content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 40px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
}

.coin-container .results {
  margin-top: 15px;
  display: flex;
}

.coin-container .results span {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #333;
}

.coin-container .results.on {
  display: none;
}
